PORT=8000
MONGO_URI="mongodb+srv://<username>:<password>@<cluster>/<db>?retryWrites=true&w=majority"
SMTP_SERVICE="smtp-service"
SMTP_USER="your-email@example.com"
SMTP_PASS="your-smtp-password"
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-key"
CLOUDINARY_API_SECRET="your-cloudinary-secret"
JWT_EXPIRE="10d"
JWT_SECRET="your-jwt-secret"
RAZORPAY_KEY_ID="your-razorpay-key-id"
RAZORPAY_KEY_SECRET="your-razorpay-key-secret"
OPENAI_API_KEY="your-openai-api-key"
